<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiscordRichPresence" version="1.0.175" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="OsuMemoryDataProvider" version="0.7.1" targetFramework="net472" />
  <package id="ProcessMemoryDataFinder" version="0.7.0" targetFramework="net472" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
</packages>